#myCanvas{
    background-color:white;
    margin-top: 40px;
    margin-left: 40px; 
    cursor: url(img/pen_cursor.png),auto;
}

.color_square{
    width: 50px;
    height: 50px;
    /* margin-left: 40px; */
    background-color: hsl(0, 100%, 50%);
    /* float: left; */
}

.pointer_triangle{
    width: 0;
    height: 0;
    left: 0px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #555;
}

.pointer_triangle_s{
    width: 0;
    height: 0;
    left: 360px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #555;
}

.pointer_triangle_l{
    width: 0;
    height: 0;
    left: 180px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #555;
}

.pointer_brushsize{
    width: 0;
    height: 0;
    left: 0px;
	border-left: 3px solid transparent;
	border-right: 3px solid transparent;
	border-top: 6px solid #555;
}

#hue_s{
    background-color: black;
    background-image: linear-gradient(to right, hsl(0, 0%, 50%) , hsl(0, 100%, 50%));
}

#hue_l{
    background-color: black;
    background-image: linear-gradient(to right, hsl(0, 100%, 0%) , hsl(0, 100%, 50%), hsl(0, 100%, 100%));
}

.pens{
    background-color: black;
    /* width:50px;  */
    padding: 0;
    border-radius: 50%;
}

.button {
    width: 50px;
    height: 50px;
    /* background: #757575; */
    /* color: white; */
    font-size: 0px;
    transition: background 0.3s;
    border-radius: 25%;
    /* box-shadow: none; */
    /* border: 10px;*/
}

.button_pen {
    background-image: url("img/pen.png");
    background-color: white; 
    background-position: center;
}
.button_pen:hover {
    background-image: url("img/pen_hover.png");
    background-color: rgb(134, 130, 130); 
    /* border: 10px solid gray; */
}

.button_eraser {
    background-image: url("img/eraser.png");
    background-color: white; 
    background-position: center;
}
.button_eraser:hover {
    background-image: url("img/eraser_hover.png");
    background-color: white;
}

.button_text {
    background-color: white;
    color: black;
    font-size: 30px;
}
.button_text:hover {
    font-size: 30px;
    background-color: black;
    color: white;
}

.button_circle {
    background-image: url("img/circle.png");
    background-color: white; 
    background-position: center;
}
.button_circle:hover {
    background-image: url("img/circle_hover.png");
    background-color: white;
}

.button_rectangle {
    background-image: url("img/rectangle.png");
    background-color: white; 
    background-position: center;
}
.button_rectangle:hover {
    background-image: url("img/rectangle_hover.png");
    background-color: white;
}

.button_triangle {
    background-image: url("img/triangle.png");
    background-color: white; 
    background-position: center;
}
.button_triangle:hover {
    background-image: url("img/triangle_hover.png");
    background-color: white;
}

.button_fill {
    background-color: white; 
    border: 5px solid black;
}

.button_undo {
    background-image: url("img/undo.png");
    background-color: white; 
    background-position: center;
}
.button_undo:hover {
    background-image: url("img/undo_hover.png");
    background-color: white;
}

.button_redo {
    background-image: url("img/redo.png");
    background-color: white; 
    background-position: center;
}
.button_redo:hover {
    background-image: url("img/redo_hover.png");
    background-color: white;
}

.button_download {
    background-image: url("img/download.png");
    background-color: white; 
    background-position: center;
}
.button_download:hover {
    background-image: url("img/download_hover.png");
    background-color: white;
}

.button_upload {
    background-image: url("img/upload.png");
    background-color: white; 
    background-position: center;
}
.button_upload:hover {
    background-image: url("img/upload_hover.png");
    background-color: white;
}

.button_clean {
    width: 100px;
    height: 50px;
    background: #33ccff;
    color: white;
    font-size: 10px;
    transition: background 0.3s;
    border-radius: 15px;
    box-shadow: none;
    /* border: 10px;			 */
}